{% extends 'admin_base.html' %}

{% block title %}Edit Campus{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-header">Edit Campus</div>
    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="campusName" class="form-label">Campus Name</label>
          <input type="text" name="name" class="form-control" value="{{ campus.name }}" required>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Update Campus</button>
        <a href="{% url 'accounts:campus_crud' %}" class="btn btn-secondary btn-sm">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

