:root {
  --font-family-inter: 'Inter', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-105-105-105: rgba(105, 105, 105, 1);
  --text-rgb-1-1-1: rgba(1, 1, 1, 1);
  --text-rgb-0-123-255: rgba(0, 123, 255, 1);
}

.text-black {
  color: var(--text-black);
}

.text-rgb-105-105-105 {
  color: var(--text-rgb-105-105-105);
}

.text-rgb-1-1-1 {
  color: var(--text-rgb-1-1-1);
}

.text-rgb-0-123-255 {
  color: var(--text-rgb-0-123-255);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.rectangle-14439-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
  background-color: rgba(235, 240, 246, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.rectangle-14440-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 35px;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-14444-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(190, 190, 190, 1);
}

.rectangle-14445-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(190, 190, 190, 1);
}

.rectangle-14446-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(190, 190, 190, 1);
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-105-105-105);
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-105-105-105);
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 15px;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-105-105-105);
}

.node-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.vector-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(227, 54, 41, 1);
  border: none;
  outline: none;
}

.vector-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(248, 189, 0, 1);
  border: none;
  outline: none;
}

.vector-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(88, 125, 189, 1);
  border: none;
  outline: none;
}

.vector-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(49, 159, 67, 1);
  border: none;
  outline: none;
}

.devicon-google-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 48px;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-1-1-1);
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 48px;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-123-255);
}

.group-481747-1-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.login-12-1 {
@media (max-width: 1440px) {
  .login-12-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .login-12-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
